# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment (if you have one locally)
env/
venv/

# Environment variables
.env

# Database files (if any local DB is used)
*.sqlite3

# Logs
*.log