.changepwd-outerbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.changepwd-outerbox form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.changepwd-field {
  position: relative;
  width: 100%;
}

.changepwd-field input {
  height: 2.5rem;
  border-radius: 1rem;
  padding: 0 2.5rem 0 1rem;
  width: 100%;
}

.changepwd-field span {
  position: absolute;
  right: 0.75rem;
  top: 42%;
  transform: translateY(-50%);
  cursor: pointer;
}
.changepwd-btn {
  width: 25%;
}
