.guest-outer-box {
  background-color: white;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.guest-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.guest-form button {
  background-color: rgb(90, 17, 90);
}

.guest-form input {
  width: 50%;
  border-radius: 1rem;
  height: 2.5rem;
  padding: 0 1.5rem;
}

.guest-headings {
  margin-bottom: 1.5rem;
}
