ul {
  display: flex;
  list-style: none;
  gap: 0.75rem;
  align-items: center;
  font-size: 20px;
}

.navbar-box {
  color: white;
  background-color: rgb(90, 17, 90);
  width: 100%;
  height: 4rem;
  display: flex;
  padding: 0 0.5rem 0 0.5rem;
  justify-content: space-between;
}

.btn {
  color: white;
  background-color: rgb(90, 17, 90);
}

.d-btn {
  background-color: white !important;
  color: rgb(90, 17, 90) !important;
}

.d-btn:hover {
  background-color: rgb(90, 17, 90) !important;
  color: white !important;
}
.navbar-tools {
  color: white;
  text-decoration: none;
}

.btn:hover {
  background-color: white;
  color: rgb(90, 17, 90);
}

.dropdown-menu {
  background-color: white;
  border: 1px solid black;
}

.custom-drop:hover {
  background-color: white !important;
}

@media (max-width: 576px) {
  .navbar-box {
    height: 2rem;
    padding: 2rem 2rem 1rem 0;
  }

  ul {
    font-size: 10px;
    align-items: flex-end;
  }

  .btn {
    padding: 0.25rem;
    font-size: 10px;
  }
}
